{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'user/css/login.css' %}">
  <div class="login-container">
  <h2>{% trans "Login" %}</h2>
  <form method="post" class="login-form">
    {% csrf_token %}

    <div class="form-group">
      <label for="login">{% translate 'Email' %} {% translate "Or" %} {% translate 'Username' %}</label>
      {{ form.login }}
    </div>

    <div class="form-group">
      <label for="password">{% translate 'Password' %}</label>
      {{ form.password }}
    </div>
    {% if messages %}
      {% for message in messages %}
        <div class="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <div class="form-group">
      <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
    </div>
  </form>

  <p>{% trans "Don't have an account?" %} <a href="{% url 'register' %}">{% trans "Register" %}</a></p>
</div>

<script src="{% static 'user/js/delete_messages.js' %}"></script>
{% endblock %}
