{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'user/css/register.css' %}">
  <div class="register-container">
    <h2>{% trans "Register" %}</h2>
    <form method="post" class="register-form">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">{% translate 'Username' %}</label>
        {{ form.username }}
      </div>
      <div class="form-group">
        <label for="password1">{% translate 'Password' %}</label>
        {{ form.password1 }}
      </div>
      <div class="form-group">
        <label for="password2">{% trans 'Repeat password' %}</label>
        {{ form.password2 }}
      </div>
      <div class="form-group">
        <label for="faculty">{% trans 'Faculty' %}</label>
        {{ form.faculty }}
      </div>
      <div class="form-group">
        <label for="role">{% trans 'Role' %}</label>
        {{ form.role }}
      </div>
      <div class="form-group">
        <label for="phone">{% trans 'Phone number' %}</label>
        {{ form.phone }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">{% trans 'Register' %}</button>
      </div>
    </form>
    <p>{% trans "Already have an account?" %} <a href="{% url 'login' %}">{% trans "Login" %}</a></p>
  </div>
{% endblock %}
