{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Indicatorium{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="icon" href="https://i.ytimg.com/vi/u5Ijp8EeVKU/maxresdefault.jpg" type="image/png">
  <link rel="stylesheet" href="{% static 'main/css/navbar_base.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/loader.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Indicatorium</a>
      <a class="navbar-brand" href="{% url 'direction_list' %}">Бағыттар</a>

    {% if user.is_staff or user.profile.role == 'viewer' or user.profile.role == 'dean' %}
      <a class="navbar-brand" href="{% url 'teachers_by_faculty' %}">Мұғалімдер тізімі</a>
      <a class="navbar-brand" href="{% url 'report_department' %}">Факультет есептері</a>
      <a class="navbar-brand" href="{% url 'dean_report' %}">Dekan</a>
    {% endif %}


      <!-- Кнопка для мобильного меню -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Меню на мобильных устройствах -->
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Шығу ({{ user.username }})</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Кіру</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Тіркеу</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Блок для хлебных крошек -->
  <nav aria-label="breadcrumb" class="bg-light py-2">
    <div class="container-fluid">
      <ol class="breadcrumb mb-0">
        {% block breadcrumbs %}
        {% endblock %}
      </ol>
    </div>
  </nav>

        <div class="container-fluid mt-4 position-relative">
            <!-- Лоадер, теперь покрывает только этот контейнер -->
            <div id="content-preloader" class="content-preloader">
              <div class="loader">Жүктеу</div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'main/js/base_loader.js' %}"></script>
</body>