{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Направления - Мой сайт{% endblock %}
{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'direction_list' %}">{% trans "Select a direction" %}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{% trans "Directions" %}</li>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/direction_list.css' %}">
<div class="container">
    <h2 class="text-center my-4">{% trans "Select a direction" %}</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for direction in directions %}
        <div class="col-md-4 mb-4">
            <div class="card direction-card">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ direction.name }}</h5>
                    <a href="{% url 'choose_year' direction.id %}" class="btn btn-primary mt-3 mb-3">{% trans "Select" %}</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-4 mb-4">
            <div class="card direction-card">
                <div class="card-body text-center">
                    <h5 class="card-title">{% trans "ALL DIRECTIONS" %}</h5>
                    <a href="{% url 'teacher_full_report' %}" class="btn btn-primary mt-3 mb-3">{% trans "Select" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
