{% extends "base.html" %}
{% block title %}Направления - Мой сайт{% endblock %}
{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'direction_list' %}">Главная</a></li>
  <li class="breadcrumb-item active" aria-current="page">Направления</li>
{% endblock %}
{% block content %}


    <h2>Выберите направление</h2>
<ul>
    {% for direction in directions %}
        <li><a href="{% url 'choose_year' direction.id %}">{{ direction.name }}</a></li>
    {% endfor %}
</ul>


{% endblock %}
