{% extends "base.html" %}
{% load static %}
{% block title %}Жыл: {{ year }} - барлық бағыттар{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'main/css/teacher_report.css' %}">
<link rel="stylesheet" href="{% static 'main/css/modal_window.css' %}">

<div class="page-container" style="display: flex; gap: 20px;">
<div style="display: flex; flex-direction: column; gap: 20px;">
    <!-- Блок переключения направлений -->
    <div class="switch-direction-container">
        <h4>Бағытты ауыстыру:</h4>
        <ul>
          {% for direction_item in directions %}
            {% if not current_direction or direction_item.id != current_direction.id %}
              <li>
                <a href="{% url 'teacher_report' direction_id=direction_item.id year_id=year.id %}" class="text-decoration-none">
                  {{ direction_item.name }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul>
            <li>
            <a href="{% url 'teacher_full_report_with_year' year_id=year.id %}" class="highlight-link">
              🧾 БАРЛЫҚ БАҒЫТТАР - {{ year.year }}
            </a>
          </li>
        </ul>
        <ul>
          {% if teacher.id and year.id %}
            <form method="get" action="{% url 'teacher_report_download' %}">
              <input type="hidden" name="year" value="{{ year.id }}">
              <input type="hidden" name="teacher" value="{{ teacher.id }}">
              <button type="submit" class="btn-download">Есепті жүктеу</button>
            </form>

          {% endif %}
        </ul>
    </div>

    <!-- Новый блок переключения годов -->
    <div class="switch-direction-container" style="background: linear-gradient(135deg, #28a745, #66d97d);">
        <h4>Жылды ауыстыру:</h4>
        <ul>
          {% for year_item in all_years %}
            {% if year_item.id != year.id %}
              <li>
                <a href="{% url 'teacher_full_report_with_year' year_id=year_item.id %}" class="text-decoration-none" style="color: white">
                  {{ year_item.year }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
    </div>
</div>


<div class="report-container">
    <div class="report-header">
        <div>
            <h3>Жыл: {{ year }}</h3>
        </div>
    </div>

    {% for direction_item, aggregated_data in all_aggregated_data.items %}
        <h3 style="margin-top: 30px;">{{ direction_item.name }}</h3>
        <table class="report-table">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Индикатор атауы</th>
                    <th>Өлшеу бірлігі</th>
                    <th>Көрсеткіш саны</th>
                    <th>Файлдар</th>
                    <th>Месяц и Год</th>
                </tr>
            </thead>
            <tbody>
                {% for data in aggregated_data %}
                <tr class="main-indicator">
                    <td>{{ data.main_indicator.code }}</td>
                    <td>{{ data.main_indicator.name }}</td>
                    <td>{{ data.main_indicator.unit }}</td>
                    <td>
                        {% if data.teacher_reports %}
                            <span class="total-value" data-default-value="{{ data.additional_value }}" style="color: #003366">{{ data.total_value }}</span>
                        {% else %}
                            <input
                                type="number"
                                class="editable {% if not year.editable %} not-editable {% endif %}"
                                data-type="additional"
                                data-id="{{ data.id }}"
                                {% if not year.editable %} disabled {% endif %}
                                min="0"
                                max="100"
                                step="1"
                                value="{{ data.additional_value }}"
                            >
                        {% endif %}
                    </td>
                    <td>
                        {% if not data.teacher_reports %}
                            <button
                                class="open-file-modal btn main-indicator" data-id="{{ data.id }}" data-name="{{ aggregated_report.id }}" data-type="main">
                                Файлдар ({{ data.uploaded_works.count }})
                                </button>
                        {% endif %}
                    </td>
                    <td>
                        <span class="deadline-display">{{ data.deadline_display }}</span>
                            {% if year.editable %}
                                <button class="btn btn-sm btn-outline-primary open-deadline-modal" data-id="{{ data.id }}" data-type="main">
                                📅 Орнату
                                </button>
                            {% endif %}
                    </td>
                </tr>
                {% if data.teacher_reports %}
                    {% for report in data.teacher_reports %}
                    <tr class="sub-indicator">
                        <td>{{ report.indicator.code }}</td>
                        <td>{{ report.indicator.name }}</td>
                        <td>{{ report.indicator.unit }}</td>
                        <td>
                            <input
                                type="number"
                                class="editable {% if not year.editable %} not-editable {% endif %}"
                                data-type="indicator"
                                data-id="{{ report.id }}"
                                {% if not year.editable %} disabled {% endif %}
                                min="0"
                                max="100"
                                step="1"
                                value="{{ report.value }}"
                            >
                        </td>
                        <td>
                            <button
                                class="open-file-modal btn sub-indicator"
                                data-id="{{ report.id }}"
                                data-name="{{ report.indicator.name }}"
                                data-type="sub"
                            >
                                Файлдар ({{ report.uploaded_files.count }})
                            </button>
                        </td>
                        <td>
                            <span class="deadline-display">{{ report.deadline_display }}</span>
                            {% if year.editable %}
                            <button class="btn btn-sm btn-outline-primary open-deadline-modal" data-id="{{ report.id }}" data-type="sub">
                                📅 Орнату
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</div>
<div id="deadlineModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deadlineForm">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: black;">Ай мен жылды белгілеңіз</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="item_id" id="deadline-item-id">
                    <input type="hidden" name="item_type" id="deadline-item-type">

                    <div class="mb-3">
                        <label for="deadline-month" class="form-label" style="color: black;">Ай</label>
                        <select class="form-select" name="month" id="deadline-month" required>
                            {% for key, value in months %}
                              <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="deadline-year" class="form-label" style="color: black;">Жыл</label>
                        <input type="number" class="form-control" name="year" id="deadline-year" value="{{ year.year }}" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Сақтау</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Само модальное окно -->
<div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="fileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form id="fileForm" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="fileModalLabel">Жүктелген файлдар</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Жабу"></button>
        </div>
        <div class="modal-body">
          <input type="file" name="file" id="fileInput" class="form-control mb-3" required>
          <input type="hidden" name="report_id" id="modalReportId">
          <div id="indicatorFieldContainer"></div>

          <div class="table-responsive">
            <table class="table table-bordered table-hover text-center align-middle">
              <thead class="table-dark">
                <tr>
                  <th>Файл атауы</th>
                  <th>Жүктеу күні</th>
                  <th>Әрекеттер</th>
                </tr>
              </thead>
              <tbody id="uploadedFilesList"></tbody>
            </table>
          </div>
          <p id="fileCount" class="text-muted text-end me-2"></p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Жүктеу</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'main/js/update_value.js' %}"></script>
<script src="{% static 'main/js/upload_delete_fail.js' %}"></script>
<script src="{% static 'main/js/second_modal.js' %}"></script>
{% endblock %}