{% extends "base.html" %}
{% block title %}Годы для направления "{{ direction.name }}" - Мой сайт{% endblock %}
{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="">Главная</a></li>
  <li class="breadcrumb-item"><a href="{% url 'direction_list' %}">Направления</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ direction.name }}</li>
{% endblock %}
{% block content %}
<h2>Направление: "{{ direction.name }}"</h2>
<h2>Выберите год для направления "{{ direction.name }}"</h2>
<ul>
    {% for year in years %}
        <a href="{% url 'view_teacher_report' direction.id year.id %}">{{ year.year }}</a>

    {% endfor %}
</ul>

{% endblock %}
